h3{
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
}
.title{
    padding: 40px;
    margin-bottom: 50px;
}
.wrapper{
    margin: 50px auto;
}
input[type="radio"]{
    opacity: 0;
}
label[for="very"], label[for="somewhat"], label[for="not"]{
    padding-left: 30px;
    background: url(unchecked-radio-button.png) no-repeat;
    line-height: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}
input:checked + label[for="very"],
input:checked + label[for="somewhat"],
input:checked + label[for="not"]{
    background: url(checked-radio-button.png) no-repeat;
}